  <div
    class="nav-row"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
  >
      <button
      pButton
      type="button"
      label="First"
      (click)="onGotoPage('first')"
    ></button>
    <button
      pButton
      type="button"
      label="Previous"
      [disabled]="!cangoback"
      (click)="onPrevious($event)"
    ></button>
    <ng-container *ngFor="let page of pageArray">
    <button
      pButton
      type="button"
      (click)="onGotoPage(page)"
    >{{page}}</button>
    </ng-container>
    <button
      pButton
      type="button"
      label="Next"
      [disabled]="!cangoforward"
      (click)="onNext($event)"
    ></button>
    <button
      *ngIf="showLast"
      pButton
      type="button"
      label="Last"
      (click)="onGotoPage('last')"
    ></button>    
  </div>