<div class="wrapper">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Movies</h1>
      <div>
        <label for="integeronly">Filter on year</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="searchYear">
        </p-inputNumber>
        <button
          pButton
          type="button"
          label="Search"
          icon="pi pi-search"
          (click)="onSearchYear()"
        ></button>
      </div>
    </div>
    <ng-container *ngIf="(movies && movies.length); else noData">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
        *ngFor="let movie of movies"
      >
        {{ movie.title }}
        {{ movie.year }}
      </div>
    </ng-container>
    <ng-template #noData> No Data Available! </ng-template>
  </div>
<app-paginator 
  [cangoback]="cangoback" 
  [cangoforward]="cangoforward"
  [showLast]="lastDataRow !== -1"
  [numberOfPages]="numberOfPages"
  (goForward)="onNext($event)"
  (goBack)="onPrevious($event)"
  (goToPage)="onGotoPage($event)">
</app-paginator>
</div>
